<mat-toolbar class="app-tollbar reader-toolbar">
	<mat-toolbar-row>
		<a class="nav-link home chapternav" routerLink="/">
		<!-- <a class="nav-link home" (click)="toogle_humbeger()" [ngSwitch]="isSideBySide"> -->
			<img src="https://lh3.googleusercontent.com/-tCPI85B7dig/AAAAAAAAAAI/AAAAAAAAAAA/ACHi3rc4-GIxZjEQYvlMqHm0eh3pS6fgmQ.CMID/s32-c/photo.jpg" width="37" height="40" title="Home" alt="Home">
		</a>
		<div class="cahpter-selector-container">
			<mat-form-field class="cahpter-selector">
				<mat-select [(value)]="chapterSelected" (selectionChange)="chapterSelectorChange($event.value)">
					<mat-option [value]="item.id" *ngFor="let item of chapterSelect; let last = last"><span>{{ item.text }}</span></mat-option>
				</mat-select>
			</mat-form-field>
		</div>
		<span fxFlex></span>
		<button mat-button title="Report" style="color: white;" (click)="openDialog()">
			<mat-icon svgIcon="flag"></mat-icon>
		</button>
	</mat-toolbar-row>
</mat-toolbar>
<section class="seksi-reader">
	<div class="devider-reader"></div>
	<div class="reader-container">
		<div class="reader-pre-container">
			<div fxLayout="column" fxLayoutAlign="center center" *ngIf="isLoading" class="loading-container">
				<div fxFlex>
					<mat-progress-spinner diameter="36" mode="indeterminate"></mat-progress-spinner>
				</div>
			</div>
			<div>
				<div #renderContainer fxLayout="column" fxLayoutAlign="center center" class="reader-virtual-scroll">
					<div #canvasParent [id]="genCanvasParentID(item.id)" class="reader-canvas-container" *ngFor="let item of chapterData; let last = last">
						<div class="loading-container" *ngIf="getCanvasLoaderStatus(item.id)">
							<div fxFlex fxLayout="column" fxLayoutAlign="center center">
								<mat-progress-spinner diameter="36" mode="indeterminate"></mat-progress-spinner>
							</div>
						</div>
						<div></div>
						<figure>
							<canvas [id]="genCanvasID(item.id)" class="dataMainCanvas" data-status="0"></canvas>
						</figure>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="bottom-container">
		<div class="bottom-navigation-container" fxLayout="column" fxLayoutAlign="center center">
			<div fxLayout="row">
				<a matRipple [matRippleColor]="rippleColor" *ngIf="chapterPrev.enabled" [routerLink]="chapterPrev.link" (click)="chapterNav(chapterPrev.id)" class="bottom-navigation prev"><span class="mat-title">Previous Chapter</span></a>
				<a matRipple [matRippleColor]="rippleColor" *ngIf="chapterNext.enabled" [routerLink]="chapterNext.link" (click)="chapterNav(chapterNext.id)" class="bottom-navigation next"><span class="mat-title">Next Chapter</span></a>
				<a matRipple [matRippleColor]="rippleColor" *ngIf="!chapterNext.enabled" [routerLink]="mangaInfo.parent" class="bottom-navigation next"><span class="mat-title">Close viwer</span></a>
			</div>
			<button mat-button (click)="gotoTop()">
				<mat-icon svgIcon="keyboard_arrow_up"></mat-icon>
				<span class="mat-body">SCROLL TO TOP</span>
			</button>
		</div>
	</div>
</section>