<mat-toolbar class="app-tollbar" color="primary">
    <mat-toolbar-row>
        <button mat-button class="hamburger" [class.is-close]="isStarting"  title="Docs menu">
        <!-- <button mat-button class="hamburger" title="Side menu"> -->
            <mat-icon svgIcon="menu-24px"></mat-icon>
        </button>
        <!-- <a class="nav-link home" routerLink="/" [ngSwitch]="isSideBySide"> -->
        <a class="nav-link home" (click)="toogle_humbeger()" [ngSwitch]="isSideBySide">
            <img *ngSwitchCase="true" src="assets/images/angular-white-transparent@2x.svg" width="150" height="40" title="Home" alt="Home">
            <img *ngSwitchDefault src="assets/images/angular-white-transparent.svg" width="37" height="40" title="Home" alt="Home">
        </a>
        <manga-app-header-menu></manga-app-header-menu>
        <span fxFlex></span>
        <span>T</span>
    </mat-toolbar-row>
</mat-toolbar>