<mat-toolbar class="app-tollbar" color="primary" [class.notActive]="ishideTopNav" *ngIf="!isUseChapterNav">
    <mat-toolbar-row>
        <button mat-button class="hamburger" [class.is-close]="isStarting" [class.starting]="isInit"  title="Docs menu">
        <!-- <button mat-button class="hamburger" title="Side menu"> -->
            <mat-icon svgIcon="menu-24px"></mat-icon>
        </button>
        <a class="nav-link home" routerLink="/" [ngSwitch]="isSideBySide">
        <!-- <a class="nav-link home" (click)="toogle_humbeger()" [ngSwitch]="isSideBySide"> -->
            <img *ngSwitchCase="true" src="assets/images/angular-white-transparent@2x.svg" width="150" height="40" title="Home" alt="Home">
            <img *ngSwitchDefault src="assets/images/angular-white-transparent.svg" width="37" height="40" title="Home" alt="Home">
        </a>
        <manga-app-header-menu></manga-app-header-menu>
        <span fxFlex></span>
        <!-- <span>{{ isStarting }}</span> -->
        <!-- <button mat-button routerLink="/oauth/signin" *ngIf="!isLogin">Login</button> -->
        <a mat-button [href]="'/oauth/signin'" *ngIf="!isLogin">Login</a>
        <!-- <button mat-button [matMenuTriggerFor]="menu" *ngIf="isLogin">Menu</button> -->
        <a class="nav-link" [matMenuTriggerFor]="menu" *ngIf="isLogin">
            <img src="assets/images/angular-white-transparent@2x.svg" width="150" height="40" title="Home" alt="Home">
        </a>
        <mat-menu #menu="matMenu">
            <div class="popup-container-base popup-container" aria-label="Informasi Akun" aria-hidden="false" img-loaded="1">
                <div class="popup-block">
                    <a class="popup-avatar-container" href="https://myaccount.google.com/?utm_source=OGB&amp;tab=wk">
                        <div class="popup-avatar-round" style="position:relative">
                            <div class="popup-avatar-size popup-avatar-img" title="Profil"></div>
                            <!-- <span class="popup-avatar-txt">Ubah</span> -->
                        </div>
                    </a>
                    <div class="popup-content-container">
                        <div class="popup-content-name">Alfian Rikzandi</div>
                        <!-- <div class="popup-content-email">denydirgantara94@gmail.com</div> -->
                        <!-- <div class="popup-content-link-container"> -->
                            <!-- <a href="https://myaccount.google.com/privacypolicy" target="_blank">Privasi</a> -->
                        <!-- </div> -->
                        <!-- <a class="popup-content-link-container gb_le popup-content-link-margin" mat-raised-button color="primary" href="https://myaccount.google.com/?utm_source=OGB&amp;tab=wk&amp;utm_medium=act" target="_blank">Akun Google</a> -->
                        <!-- <button mat-icon-button aria-label="Setting">
                            <mat-icon svgIcon="setting-24px"></mat-icon>
                        </button> -->
                        <button mat-stroked-button color="primary">Settings</button>
                    </div>
                </div>
                <div class="gb_Jf gb_Ma gb_wa">
                    <div class="gb_Na"></div>
                </div>
                <div class="gb_Bf gb_jb">
                    <!-- <div><a class="popup-content-link-container gb_Af gb_le popup-content-link-margin" href="https://accounts.google.com/AddSession?hl=id&amp;continue=https://www.google.com/search%3Fq%3Dcreate%2Bbutton%2Bdropdown%2Bin%2Bangular%2B6%2Bcss%26safe%3Dstrict%26ei%3DJI25XMrzIqSWvQTJqIvABQ%26start%3D10%26sa%3DN%26ved%3D0ahUKEwjKla3P5NvhAhUkS48KHUnUAlgQ8NMDCJoB%26biw%3D1920%26bih%3D937">Tambahkan akun</a></div> -->
                    <!-- <div><a class="popup-content-link-container gb_Ef gb_Mf gb_le popup-content-link-margin" id="gb_71" href="https://accounts.google.com/Logout?hl=id&amp;continue=https://www.google.com/search%3Fq%3Dcreate%2Bbutton%2Bdropdown%2Bin%2Bangular%2B6%2Bcss%26safe%3Dstrict%26ei%3DJI25XMrzIqSWvQTJqIvABQ%26start%3D10%26sa%3DN%26ved%3D0ahUKEwjKla3P5NvhAhUkS48KHUnUAlgQ8NMDCJoB%26biw%3D1920%26bih%3D937&amp;timeStmp=1555664201&amp;secTok=.AG5fkS8_ni3BwcNf6j1qPBMNMJ6r-pbU9g" target="_top">Keluar</a></div> -->
                    <button class="popup-content-link-margin" routerLink="oauth/do/logout" mat-button color="primary">Sign Out</button>
                </div>
            </div>
        </mat-menu>
    </mat-toolbar-row>
</mat-toolbar>

<mat-toolbar class="app-tollbar reader-toolbar" *ngIf="isUseChapterNav">
    <mat-toolbar-row>
        <a class="nav-link home chapternav" routerLink="/" [ngSwitch]="isSideBySide">
        <!-- <a class="nav-link home" (click)="toogle_humbeger()" [ngSwitch]="isSideBySide"> -->
            <img *ngSwitchCase="true" src="assets/images/angular-white-transparent@2x.svg" width="150" height="40" title="Home" alt="Home">
            <img *ngSwitchDefault src="assets/images/angular-white-transparent.svg" width="37" height="40" title="Home" alt="Home">
        </a>
        <manga-app-header-menu></manga-app-header-menu>
        <span fxFlex></span>
    </mat-toolbar-row>
</mat-toolbar>