<section class="universal-seksi seksi-cover">
	<div class="custom-md-card-register margin-top">
		<mat-card class="md-card-register nmd-br loading-parent">
			<div *ngIf="isLoading" class="mpl-cover"></div>
			<mat-progress-bar [@loadingAnimation]="'in'" *ngIf="isLoading" class="mpl-div nmdrc-t" color="primary" mode="indeterminate"></mat-progress-bar>
			<mat-card-content class="custom-md-card-content-register">
				<div class="form-logo-area">
					<div class="layout-align-center-center layout-row">
						<div class="form-logo" title="logo">
							<img src="/assets/images/angular-black-transparent.svg" width="24" height="24" alt="{{ webData.name }}">
						</div>
						<span class="form-logo-text">{{ webData.name }}</span>
					</div>
				</div>
				<div class="register-parent">
					<span>SampleDataNya</span>
					<!-- <re-captcha size="invisible" #iRecaptcha></re-captcha> -->
					<div #mceCarousel mce-carousel-selected="0" class="mce-carousel register-parent">
						<div #mceCarouselItems class="mce-carousel-content-wrapper">

							<!-- 0. USERNAME & PASSWORD -->
							<div class="mce-carousel-content carousel-content">
								<div>
									<form class="" [formGroup]="regFormA">
										<div>
											<div class="reg-info-box-parent">
												<h1 class="md-headline"><span>Create new account</span></h1>
											</div>
										</div>
										<div class="reg-form-padding">
											<div fxLayout="row" class="signup-password-container">
												<mat-form-field appearance="outline" fxFlex="50" class="signup-pass1">
													<mat-label>First Name</mat-label>
													<input #inputName1 formControlName="name1" matInput value="" autocomplete="off" required aria-required="true">
													<mat-error *ngIf="regFormA.invalid">{{ getErrorMessageName1() }}</mat-error>
												</mat-form-field>
												<mat-form-field appearance="outline" fxFlex="50" class="signup-pass2">
													<mat-label>Last Name</mat-label>
													<input #inputName2 formControlName="name2" matInput value="" autocomplete="off">
													<mat-error *ngIf="regFormA.invalid">{{ getErrorMessageName2() }}</mat-error>
												</mat-form-field>
											</div>
											<mat-form-field class="full-size" appearance="outline">
												<mat-label>Username</mat-label>
												<input #inputUsername formControlName="username" matInput value="" autocomplete="off" required aria-required="true">
												<mat-error *ngIf="regFormA.invalid">{{ getErrorMessageUsername() }}</mat-error>
												<mat-hint align="end" aria-live="polite">
													{{ valA.username.value.length }} / 25
												</mat-hint>
											</mat-form-field>
											<mat-form-field class="full-size" appearance="outline">
												<mat-label>Email</mat-label>
												<input #inputEmail formControlName="email" matInput value="" autocomplete="off" required aria-required="true">
												<mat-error *ngIf="regFormA.invalid">{{ getErrorMessageEmail() }}</mat-error>
											</mat-form-field>
											<div fxLayout="row" class="signup-password-container">
												<div fxLayout="row" fxFlex="90" fxLayoutAlign="space-around center">
													<mat-form-field appearance="outline" fxFlex="50" class="signup-pass1">
														<mat-label>Password</mat-label>
														<input #inputPassword1 [type]="pswdHide ? 'password' : 'text'" formControlName="password1" matInput value="" autocomplete="off" (keyup)="onPassStr($event)" required aria-required="true">
														<mat-error *ngIf="regFormA.invalid">{{ getErrorMessagePassword1() }}</mat-error>
														<mat-hint align="start" aria-live="polite">
															{{ getStrenghtMessage() }}
														</mat-hint>
														<mat-hint align="end" aria-live="polite">
															{{ valA.password1.value.length }} / 25
														</mat-hint>
													</mat-form-field>
													<mat-form-field appearance="outline" fxFlex="50" class="signup-pass2">
														<mat-label>Confirm</mat-label>
														<input #inputPassword2 [type]="pswdHide ? 'password' : 'text'" formControlName="password2" matInput value="" autocomplete="off" (keyup)="onSamePassValue($event)" required aria-required="true">
														<mat-error *ngIf="regFormA.invalid">{{ getErrorMessagePassword2() }}</mat-error>
													</mat-form-field>
												</div>
												<div fxFlex="10" fxLayout="column" fxLayoutAlign="center center" class="signup-pass-button">
													<button type="button" mat-icon-button matSuffix (click)="pswdHide = !pswdHide">
														<mat-icon svgIcon="{{ pswdHide ? 'visibility_off' : 'visibility' }}"></mat-icon>
													</button>
												</div>
											</div>

											<div class="form_action_area signup-page">
												<div class="login-action-parent layout-align-center-center layout-row">
													<button class="link-color" mat-button [matMenuTriggerFor]="menu" type="button">More options</button>
													<mat-menu #menu="matMenu">
														<a mat-menu-item [href]="'/oauth/signin'">Already have a account</a>
														<a mat-menu-item [href]="'/'">Go to homepage</a>
														<button mat-menu-item>Need help?</button>
													</mat-menu>
													<div class="flex"></div>
													<button mat-flat-button color="primary" (click)="SubmitA()" [disabled]="isLoading">&nbsp; NEXT &nbsp;</button>
												</div>
											</div>
										</div>
									</form>
								</div>
							</div>

							<!-- 1. Terms and Conditions Agreement -->
							<div class="mce-carousel-content carousel-content">
								<div>
									<form class="" [formGroup]="regFormA">
										<div>
											<div class="login-info-box-parent">
												<h1 class="md-headline"><span>Terms and Conditions</span></h1>
											</div>
										</div>
										<div class="login-form-padding">
											<div [innerHtml]="termData"></div>
											<div class="form_action_area signup-page">
												<div class="layout-row">
													<a class="login-a-link-text" (click)="goBack()">Back</a>
												</div>
												<div class="login-action-parent layout-align-center-center layout-row">
													<div class="flex"></div>
													<button mat-flat-button color="primary" (click)="SubmitA()" [disabled]="isLoading">&nbsp; NEXT &nbsp;</button>
												</div>
											</div>
										</div>
									</form>
								</div>
							</div>

							<!-- 5. MESSAGES -->
							<div class="mce-carousel-content carousel-content">
								<div class="login-info-box-parent">
									<h1 class="md-headline">
										<span></span>
									</h1>
									<div class="login-info-box-subtext">
										<!-- <h6 class="md-subhead">{{ messageData.txt }}</h6> -->
									</div>
									<div class="form_action_area">
										<div class="login-action-parent layout-align-center-center layout-row">
											<button mat-flat-button color="primary" (click)="goBack()">&nbsp; OK &nbsp;</button>
										</div>
									</div>
								</div>
							</div>

						</div>
					</div>
				</div>
			</mat-card-content>
		</mat-card>
	</div>
	{{ recentToken }}
</section>