<mat-card class="universal-loading-container">
  <mat-progress-bar [@loadingAnimation]="'in'" *ngIf="isLoad" class="universal-loading is-top" mode="indeterminate"></mat-progress-bar>
  <mat-card-content>
      <!-- <div class="f-title-1 mat-subheading-1"><span>In the last few hours</span></div> -->
      <div fxLayout="row">
        <div class="f-title-2 mat-title"><span>Top Chapters</span></div>
        <mat-form-field>
          <mat-select [(value)]="sortSelected" (selectionChange)="topRefresh($event)" placeholder="Top in">
            <mat-option value="1">6 Hours</mat-option>
            <mat-option value="2">24 Hours</mat-option>
            <mat-option value="3">7 Days</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <!-- <ngx-hm-carousel
        [(ngModel)]="currentIndex"
        [show-num]="4"
        [autoplay-speed]="speed"
        [infinite]="infinite"
        [drag-many]="true"
        [aniTime]="200"
        [data]="tiles"
        [align]="'left'"
        class="carousel c-accent"> -->
      <ngx-hm-carousel
        [show-num]="4"
        [drag-many]="true"
        [aniTime]="200"
        [data]="tiles"
        [align]="'left'"
        class="carousel c-accent">
      
        <section ngx-hm-carousel-container class="content">
          <article class="item cursor-pointer"
            ngx-hm-carousel-item
            *ngFor="let tile of tiles; let i = index"
              [ngClass]="{'visible': currentIndex===i}">
            <div class="img" [routerLink]="tile.chapter_link"
              [style.backgroundImage]="getBackground(tile.img_cvr.enabled, tile.img_cvr.link)">
              {{tile.chapter_name}}
            </div>
          </article>
          <ng-template #infiniteContainer></ng-template>
        </section>
      
        <!-- only using in infinite mode or autoplay mode, that will render with-->
        <ng-template #carouselContent let-tile let-i="index">
          <article class="item cursor-pointer"
            [ngClass]="{'visible': currentIndex===i}">
            <div class="img" [routerLink]="tile.chapter_link"
              [style.backgroundImage]="getBackground(tile.img_cvr.enabled, tile.img_cvr.link)">
              {{tile.chapter_name}}
            </div>
          </article>
        </ng-template>
      
        <ng-template #carouselPrev>
          <div class="click-area">
              <button type="button" mat-icon-button>
                  <mat-icon svgIcon="keyboard_arrow_left"></mat-icon>
              </button>
          </div>
        </ng-template>
        <ng-template #carouselNext>
          <div class="click-area">
              <button type="button" mat-icon-button>
                  <mat-icon svgIcon="keyboard_arrow_right"></mat-icon>
              </button>
          </div>
        </ng-template>
      
        <ng-template #carouselDot let-model>
          <div class="ball bg-accent"
            [class.visible]="model.index === model.currentIndex"></div>
        </ng-template>
      
        <ng-template #carouselProgress let-progress>
          <div class="progress"></div>
        </ng-template>
      
      </ngx-hm-carousel>
      <!-- <mat-grid-list *ngIf="!isError" class="trending_tiles" cols="4" rowHeight="300px" gutterSize="8px">
        <mat-grid-tile
            class="trending_tile"
            *ngFor="let tile of tiles"
            [routerLink]="tile.chapter_link"
            [colspan]="tile.cols"
            [rowspan]="tile.rows"
            [style.background-image]="getBackground(tile.img_cvr.enabled, tile.img_cvr.link)">
          <mat-grid-tile-footer>
              {{tile.chapter_name}}
          </mat-grid-tile-footer>
        </mat-grid-tile>
      </mat-grid-list> -->
      <div *ngIf="isError" class="componen-error-container is-c-topchapter">
        <div class="componen-error" fxLayout="column" fxLayoutAlign="center center">
          <div class="componen-error-text mat-title">
            <span>Failed to load data</span>
          </div>
          <button mat-button color="primary" (click)="topRefresh($event)">Retry load</button>
        </div>
      </div>
  </mat-card-content>
</mat-card>