<section class="universal-seksi">
    <div class="universal-container">
        <div fxLayout="column" fxLayout.gt-sm="row">
            <div fxFlex="100" fxFlex.gt-sm="70">
                <div class="layout-padding">
                    <manga-trending></manga-trending>
                </div>
                <div class="layout-padding">
                    <manga-list></manga-list>
                </div>
            </div>
            <div fxFlex="100" fxFlex.gt-sm="30" class="layout-padding">
                <manga-genre></manga-genre>
            </div>
        </div>
    </div>
</section>
