<section class="universal-seksi seksi-cover">
	<div style="width: 100%;height: 450px;"><div style="background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.7)), url(&quot;https://project-manga.oo/storage/944990.png&quot;);background-repeat: no-repeat;background-size: cover;width: 100%;height: 100%;"></div></div>

	<div class="universal-container">
    	<div fxLayout="column" fxLayout.gt-sm="row">
			<div fxFlex="100" fxFlex.gt-sm="70">
        		<div class="layout-padding">
					<mat-card class="universal-loading-container">
						<!-- <mat-progress-bar [@loadingAnimation]="'in'" *ngIf="isLoad" class="universal-loading is-top" mode="indeterminate"></mat-progress-bar> -->
						<mat-card-content class="manga-detail-cover" fxLayout="row">

							<div class="_3Aef5">
							<div class="xDVZZ _2KER_" style="padding-bottom:Infinity;border-radius:0;overflow:hidden;" itemprop="url">
								<div class="_3H61R" style="border-radius:0;overflow:hidden"></div>
								<img src="https://project-manga.oo/storage/cover/data/2019/02/513b1ff663fd005cbb1b0f14fc7230f3.jpg" alt="Tonikaku Kawaii (Fly me to the moon)" class="hGq41 _2NsiO">
							</div>
							</div>

						<div fxLayout="column" fxFlex="100">
							<div fxLayout="row">
								<h1 class="mat-display-1">Tonikaku Kawaii</h1>
								<span fxFlex></span>
								<button mat-icon-button>
									<mat-icon svgIcon="favorite_border"></mat-icon>
								</button>
								<button mat-icon-button [matMenuTriggerFor]="BTNMangaDetailsA">
									<mat-icon svgIcon="more_vert"></mat-icon>
								</button>
								<mat-menu #BTNMangaDetailsA="matMenu">
									<button mat-menu-item>
										<mat-icon svgIcon="share"></mat-icon>
										<span>Share</span>
									</button>
									<button mat-menu-item>
										<mat-icon svgIcon="notifications"></mat-icon>
										<span>Subscribe Updates</span>
									</button>
									<mat-divider></mat-divider>
									<button mat-menu-item>
										<mat-icon svgIcon="flag"></mat-icon>
										<span>Report Issue</span>
									</button>
									<!-- <button mat-menu-item disabled>
										<mat-icon>voicemail</mat-icon>
										<span>Check voicemail</span>
									</button> -->
									
								</mat-menu>
							</div>
							
						</div>
						
						</mat-card-content>
					</mat-card>
				</div>

				<div class="layout-padding">
					<mat-card class="universal-loading-container">
						<mat-progress-bar [@loadingAnimation]="'in'" *ngIf="isLoad" class="universal-loading is-top" mode="indeterminate"></mat-progress-bar>
						<mat-card-content fxLayout="row">
							<mat-tab-group fxFlex="100">
								<mat-tab label="SUMMARY">
								<ng-template matTabContent>
									Content 1 - Loaded: {{getTimeLoaded(1) | date:'medium'}}
								</ng-template>
								</mat-tab>
								<mat-tab label="DESCRIPTION">
								<ng-template matTabContent>
									Content 2 - Loaded: {{getTimeLoaded(2) | date:'medium'}}
								</ng-template>
								</mat-tab>
								<mat-tab label="STATS">
								<ng-template matTabContent>
									Content 3 - Loaded: {{getTimeLoaded(3) | date:'medium'}}
								</ng-template>
								</mat-tab>
								<mat-tab label="AUTHORS">
									<ng-template matTabContent>
									Content 3 - Loaded: {{getTimeLoaded(3) | date:'medium'}}
									</ng-template>
								</mat-tab>
							</mat-tab-group>
						</mat-card-content>
					</mat-card>
				</div>
		
				<div class="layout-padding">
					<mat-card class="universal-loading-container">
						<mat-progress-bar [@loadingAnimation]="'in'" *ngIf="isLoad" class="universal-loading is-top" mode="indeterminate"></mat-progress-bar>
						<mat-card-content fxLayout="row">
						
						</mat-card-content>
					</mat-card>
				</div>

			</div>

			<div fxFlex="30" class="layout-padding" fxHide fxShow.gt-sm>
				<mat-card>
					<mat-card-content>
						TEST
					</mat-card-content>
				</mat-card>
			</div>
    	</div>
	</div>

</section>