<h1 mat-dialog-title><span *ngIf="dialogStep == 1">Report Issue</span><span *ngIf="dialogStep == 2">Confirm Your Issue</span></h1>
<div mat-dialog-content fxLayout="column" class="dialog-container">
    <div *ngIf="dialogStep == 1">
        <!-- [formGroup]="loginFormDialogA" -->
        <p class="mat-subheading-1">What problem are you encountering?</p>
        <mat-radio-group
            aria-labelledby="example-radio-group-label"
            class="example-radio-group"
            [(ngModel)]="issueSelected" fxLayout="column">
            <mat-radio-button class="example-radio-button" *ngFor="let issue of issues" [value]="issue.id">
                {{issue.name}}
            </mat-radio-button>
        </mat-radio-group>
        <!-- <div>Your favorite season is: {{issueSelected}}</div> -->
        <!-- <div>{{ issues | json }}</div> -->
    </div>
    <div *ngIf="dialogStep == 2">
        <p class="mat-subheading-1">You are reporting “{{ data.dialogData }}” with “{{ getCurrentSelectedIssue() }}” issue.</p>
        <mat-form-field class="full-size" appearance="outline">
            <mat-label>Additional comments or suggestion (optional)</mat-label>
            <input matInput autocomplete="off">
            <!-- <mat-error *ngIf="loginFormDialogA.invalid">{{ getErrorMessage() }}</mat-error> -->
        </mat-form-field>
        <input type="file" class="hidden"
            #file
            (change)="onFilesAdded()"
            />
        <div fxLayout="row" class="upload-container">
            <div fxLayout="column">
                <button mat-raised-button color="primary" (click)="addFiles()">ATTACH A FILE</button>
                <span class="mat-caption">&nbsp;*Optional & max 2 MB</span>
            </div>
            <div fxFlex class="upload-text-container">
                <div class="upload-text-box">
                    <div class="upload-text">
                        <span class="mat-body-1" *ngFor="let file of files">{{file.name}}</span>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
    <div *ngIf="dialogStep == 3">
        <div fxLayout="column" fxLayoutAlign="center center">
            <p class="mat-title">STATUS</p>
            <button mat-raised-button color="primary" (click)="onDone()">CLOSE</button>
        </div>
    </div>
    <!-- <div>
        {{ data | json }} <br />
        {{ issueSelected }}
    </div> -->
</div>
<div mat-dialog-actions>
    <button *ngIf="dialogStep == 1" mat-button (click)="onCancel()">CANCEL</button>
    <button *ngIf="dialogStep == 2" mat-button (click)="onNext()">BACK</button>
    <span fxFlex></span>
    <button *ngIf="dialogStep == 1" mat-button (click)="onNext()">NEXT</button>
    <button *ngIf="dialogStep == 2" mat-button (click)="onSubmit()">SUBMIT</button>
    <!-- <button mat-button (click)="onSubmit()" [disabled]="loginFormDialogA.invalid">Submit</button> -->
</div>
