<section class="universal-seksi seksi-cover">
	<div class="custom-md-card-login margin-top">
		<mat-card class="md-card-login nmd-br loading-parent">
			<div *ngIf="isLoading" class="mpl-cover"></div>
			<mat-progress-bar [@loadingAnimation]="'in'" (@loadingAnimation.done)="animationDone()" *ngIf="isLoading" class="mpl-div nmdrc-t" color="primary" mode="indeterminate"></mat-progress-bar>
			<mat-card-content class="custom-md-card-content-login">
				<div class="form-logo-area">
					<div class="layout-align-center-center layout-row">
						<div class="form-logo" title="logo">
							<img src="/assets/images/angular-black-transparent.svg" width="24" height="24" alt="{{ webData.name }}">
						</div>
						<span class="form-logo-text">{{ webData.name }}</span>
					</div>
				</div>
				<div class="login-parent">
					<!-- <re-captcha size="invisible" #iRecaptcha (resolved)="handleEmittedResponse($event)"></re-captcha> -->
					<div #mceCarousel mce-carousel-selected="0" class="mce-carousel login-parent">
						<div #mceCarouselItems class="mce-carousel-content-wrapper">

							<!-- 0. USERNAME & PASSWORD -->
							<div class="mce-carousel-content carousel-content">
								<div>
									<form class="" [formGroup]="loginFormA">
										<div>
											<div class="login-info-box-parent">
												<h1 class="md-headline"><span>Sign in</span></h1>
												<div>
													<h6 *ngIf="!isErrorPrimary" class="md-subhead subtitle-text">Use your Project Manga account</h6>
													<h6 *ngIf="isErrorPrimary" class="md-subhead subtitle-text mat-error">{{ getErrorMessagePrimary() }}</h6>
												</div>
											</div>
										</div>
										<div class="login-form-padding">
											<mat-form-field class="full-size" appearance="outline">
												<mat-label>Username or Email</mat-label>
												<input #inputUsername formControlName="username" matInput value="" autocomplete="off">
												<mat-error *ngIf="loginFormA.invalid">{{ getErrorMessageUsername() }}</mat-error>
											</mat-form-field>
											<mat-form-field class="full-size" appearance="outline">
												<mat-label>Password</mat-label>
												<input #inputPassword [type]="pswdHide ? 'password' : 'text'" formControlName="password" matInput value="" autocomplete="off">
												<mat-error *ngIf="loginFormA.invalid">{{ getErrorMessagePassword() }}</mat-error>
												<button type="button" mat-icon-button matSuffix (click)="pswdHide = !pswdHide">
													<mat-icon svgIcon="{{ pswdHide ? 'visibility_off' : 'visibility' }}"></mat-icon>
												</button>
											</mat-form-field>
											<div class="form_action_area">
												<div class="layout-row">
													<a class="login-a-link-text" (click)="goReset()">Forgot password?</a>
												</div>
												<div class="login-action-parent layout-align-center-center layout-row">
													<button class="link-color" mat-button [matMenuTriggerFor]="menu" type="button">More options</button>
													<mat-menu #menu="matMenu">
														<a mat-menu-item [href]="'/oauth/signup'">Create new account</a>
														<a mat-menu-item (click)="goReset2FA()">Reset 2FA</a>
														<a mat-menu-item [href]="'/'">Go to homepage</a>
														<button mat-menu-item>Need help?</button>
													</mat-menu>
													<div class="flex"></div>
													<button mat-flat-button color="primary" (click)="SubmitA()" [disabled]="isLoading">&nbsp; SIGN IN &nbsp;</button>
												</div>
											</div>

										</div>
									</form>
								</div>
							</div>

							<!-- 1. GOOGLE AUTH -->
							<div class="mce-carousel-content carousel-content">
								<div>
									<form class="" [formGroup]="loginFormB">
										<div class="login-info-box-parent">
											<h1 class="md-headline">
												<span>One more step</span>
											</h1>
											<div class="login-info-box">
												<div class="login-info-box-round login-info-box-rounded" tabindex="0" role="link" aria-label="Back" (click)="changeAccount()">
													<div fxLayout="row" fxLayoutAlign="space-around center">
														<div class="login-info-box-round-avatar">
															<mat-icon class="mat-icon-box-text-inline" svgIcon="perm_identity"></mat-icon>
														</div>
														<div class="login-info-box-round-text login-info-box-round-text-ltl">{{ temporaryData.username }}</div>
														<div class="login-info-box-round-backbtn">
															<mat-icon svgIcon="keyboard_arrow_down"></mat-icon>
														</div>
													</div>
													
												</div>
											</div>
											<div class="login-info-box-subtext">
												<h6 *ngIf="!isErrorPrimary" class="md-subhead">Enter 6 digits key from your Google Authenticator App</h6>
												<h6 *ngIf="isErrorPrimary" class="md-subhead subtitle-text mat-error">{{ getErrorMessagePrimary() }}</h6>
											</div>
											<div class="login-form-padding">
												<mat-form-field class="full-size" appearance="outline">
													<mat-label>Google Auth Key</mat-label>
													<input #inputGC type="text" formControlName="googleCode" placeholder="Example: 123 456" matInput value="" autocomplete="off">
													<mat-error *ngIf="loginFormB.invalid">{{ getErrorMessageGC() }}</mat-error>
												</mat-form-field>

												<div class="form_action_area">
													<div class="layout-row">
														<a *ngIf="temporaryData.b2fa2" class="login-a-link-text" (click)="goReset()">Use recovery code?</a>
														<a *ngIf="!temporaryData.b2fa2" class="login-a-link-text" (click)="goReset()">Reset google auth?</a>
													</div>
													<div class="login-action-parent layout-align-center-center layout-row">
														<div class="flex"></div>
														<button mat-flat-button color="primary" (click)="SubmitB()" [disabled]="isLoading">&nbsp; SIGN IN &nbsp;</button>
													</div>
												</div>
											</div>
										</div>
									</form>
								</div>
							</div>

							<!-- 2. RECOVERY CODE -->
							<div class="mce-carousel-content carousel-content">
								<div>
									<form class="" [formGroup]="loginFormC">
										<div class="login-info-box-parent">
											<h1 class="md-headline">
												<span>One more step</span>
											</h1>
											<div class="login-info-box">
												<div class="login-info-box-round login-info-box-rounded" tabindex="0" role="link" aria-label="Back" (click)="changeAccount()">
													<div fxLayout="row" fxLayoutAlign="space-around center">
														<div class="login-info-box-round-avatar">
															<mat-icon class="mat-icon-box-text-inline" svgIcon="perm_identity"></mat-icon>
														</div>
														<div class="login-info-box-round-text login-info-box-round-text-ltl">{{ temporaryData.username }}</div>
														<div class="login-info-box-round-backbtn">
															<mat-icon svgIcon="keyboard_arrow_down"></mat-icon>
														</div>
													</div>
													
												</div>
											</div>
											<div class="login-info-box-subtext">
												<h6 *ngIf="!isErrorPrimary" class="md-subhead">Enter 8 digits recovery code</h6>
												<h6 *ngIf="isErrorPrimary" class="md-subhead subtitle-text mat-error">{{ getErrorMessagePrimary() }}</h6>
											</div>
											<div class="login-form-padding">
												<mat-form-field class="full-size" appearance="outline">
													<mat-label>Recovery Code</mat-label>
													<input #inputRC type="text" formControlName="recoveryCode" placeholder="Example: 1234 5678" matInput value="" autocomplete="off">
													<mat-error *ngIf="loginFormC.invalid">{{ getErrorMessageRC() }}</mat-error>
												</mat-form-field>

												<div class="form_action_area">
													<div class="layout-row">
														<a class="login-a-link-text" (click)="goReset()">Reset recovery code?</a>
													</div>
													<div class="login-action-parent layout-align-center-center layout-row">
														<div class="flex"></div>
														<button mat-flat-button color="primary" (click)="SubmitC()" [disabled]="isLoading">&nbsp; SIGN IN &nbsp;</button>
													</div>
												</div>
											</div>
										</div>
									</form>
								</div>
							</div>

							<!-- 3. RESET -->
							<div class="mce-carousel-content carousel-content">
								<div>
									<form class="" [formGroup]="loginFormD">
										<div class="login-info-box-parent">
											<h1 class="md-headline">
												<span>{{ resetData.text }}</span>
											</h1>
											<div class="login-info-box" *ngIf="resetData.useAccountBar">
												<div class="login-info-box-round login-info-box-rounded" tabindex="0" role="link" aria-label="Back" (click)="changeAccount()">
													<div fxLayout="row" fxLayoutAlign="space-around center">
														<div class="login-info-box-round-avatar">
															<mat-icon class="mat-icon-box-text-inline" svgIcon="perm_identity"></mat-icon>
														</div>
														<div class="login-info-box-round-text login-info-box-round-text-ltl">{{ temporaryData.username }}</div>
														<div class="login-info-box-round-backbtn">
															<mat-icon svgIcon="keyboard_arrow_down"></mat-icon>
														</div>
													</div>
													
												</div>
											</div>
											<div class="login-info-box-subtext">
												<h6 *ngIf="!isErrorPrimary" class="md-subhead">Enter your email</h6>
												<h6 *ngIf="isErrorPrimary" class="md-subhead subtitle-text mat-error">{{ getErrorMessagePrimary() }}</h6>
											</div>
											<div class="login-form-padding">
												<mat-form-field class="full-size" appearance="outline">
													<mat-label>Email</mat-label>
													<input #inputEmail type="text" formControlName="email" matInput value="" autocomplete="off">
													<mat-error *ngIf="loginFormD.invalid">{{ getErrorMessageEmail() }}</mat-error>
												</mat-form-field>

												<div class="form_action_area">
													<div class="layout-row">
														<a class="login-a-link-text" (click)="changeAccount()">Login?</a>
													</div>
													<div class="login-action-parent layout-align-center-center layout-row">
														<div class="flex"></div>
														<button mat-flat-button color="primary" (click)="SubmitD()" [disabled]="isLoading">&nbsp; {{ resetData.btn }} &nbsp;</button>
													</div>
												</div>
											</div>
										</div>
									</form>
								</div>
							</div>

							<!-- 4. RESET CONFIRMATION -->
							<div class="mce-carousel-content carousel-content">
								<div>
									<form class="" [formGroup]="loginFormE">
										<div class="login-info-box-parent">
											<h1 class="md-headline">
												<span>Reset Confirmation</span>
											</h1>
											<div class="login-info-box-subtext">
												<h6 *ngIf="!isErrorPrimary" class="md-subhead">Enter the code</h6>
												<h6 *ngIf="isErrorPrimary" class="md-subhead subtitle-text mat-error">{{ getErrorMessagePrimary() }}</h6>
											</div>
											<div class="login-form-padding">
												<mat-form-field class="full-size" appearance="outline">
													<mat-label>Confirmation Code</mat-label>
													<input #inputEmailConfirm type="text" formControlName="emailConfirm" placeholder="Example: 1234 5678" matInput value="" autocomplete="off">
													<mat-error *ngIf="loginFormE.invalid">{{ getErrorMessageEmailConfirm() }}</mat-error>
												</mat-form-field>

												<div class="form_action_area">
													<div class="layout-row">
														<a class="login-a-link-text" (click)="changeAccount()">Login?</a>
													</div>
													<div class="login-action-parent layout-align-center-center layout-row">
														<div class="flex"></div>
														<button mat-flat-button color="primary" (click)="SubmitE()" [disabled]="isLoading">&nbsp; CONFIRM &nbsp;</button>
													</div>
												</div>
											</div>
										</div>
									</form>
								</div>
							</div>

							<!-- 5. MESSAGES -->
							<div class="mce-carousel-content carousel-content">
								<div class="login-info-box-parent">
									<h1 class="md-headline">
										<span></span>
									</h1>
									<div class="login-info-box-subtext">
										<h6 class="md-subhead">{{ messageData.txt }}</h6>
									</div>
									<div class="form_action_area">
										<div class="login-action-parent layout-align-center-center layout-row">
											<button mat-flat-button color="primary" (click)="goBack()">&nbsp; OK &nbsp;</button>
										</div>
									</div>
								</div>
							</div>

						</div>
					</div>
				</div>
			</mat-card-content>
		</mat-card>
	</div>
	<!-- {{ temporaryData | json }} -->
</section>
