<section class="universal-seksi seksi-cover">
	<div class="custom-md-card-login login-top">
		<mat-card class="md-card-login nmd-br loading-parent">
			<mat-card-content class="custom-md-card-content-login">
				<div class="login-logo-area">
					<div class="layout-align-center-center layout-row">
						<div class="login-logo" title="logo">
							<img src="https://elearning.oo/aset/uploads/files/image/icons8-learning-100.png" width="24" height="24" alt="logo" onclick="">
						</div>
						<span class="login-logo-text">PROJECT MANGA</span>
					</div>
				</div>
				<div class="login-parent">
					
				</div>
			</mat-card-content>
		</mat-card>
	</div>
</section>
